# Python
*.pyc
__pycache__/
*.pyo
*.pyd
venv/
env/
.env
db.sqlite3
staticfiles/
*.egg-info/

# Node
node_modules/
.next/
out/
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
